/* Reset some default styles */
body, h1, h2, h3, p, ul, ol, li, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}

header, nav, main, footer {
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header h1 {
    color: #e44d26;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #e44d26;
}

main {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.intro-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.intro-section p {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.intro-section a {
    color: #e44d26;
    text-decoration: none;
    font-weight: bold;
}

.intro-section a:hover {
    text-decoration: underline;
}

/* Updated rule for resizing images */
.recipe-image {
    max-height: 200px; /* Adjust the height as needed */
    width: auto;
    border-radius: 8px;
}

.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.section:hover {
    background-color: #f0f0f0;
}

h2 {
    color: #e44d26;
    margin-bottom: 10px;
    cursor: pointer;
}

.recipe-details {
    display: none;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.recipe-details h3 {
    color: #e44d26;
}

.recipe-details ul, .recipe-details ol {
    margin: 10px 0;
    padding: 0;
}

.recipe-details li {
    list-style-type: none;
    margin-bottom: 5px;
}

.recipe-details ol {
    list-style-type: decimal;
}

.recipe-details a {
    text-decoration: none;
    color: #e44d26;
    font-weight: bold;
}

.recipe-details a:hover {
    text-decoration: underline;
}

/* Instagram button styling */
.instagram-button {
    display: inline-block;
    padding: 4px 10px;
    background-color: #e44d26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.instagram-button:hover {
    background-color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
}

footer p {
    margin: 0;
}
